.container__card__body {
    background: var(--color-bg);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(66, 68, 90, 0.08);
    -moz-box-shadow: 0px 0px 15px 5px rgba(66, 68, 90, 0.08);
    box-shadow: 0px 0px 15px 5px rgba(66, 68, 90, 0.08);
    width: 740px;
    line-height: 1.5;
    
}

.container__card__body_left{
    background: linear-gradient(to bottom, var(--light-slate-blue-background), var(--light-royal-blue-background));
    width: 50%;
    height: 100%;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    text-align: center;
    color: var(--light-lavender);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    padding: 2rem;
}

.container__card__body_left h1{
    color: var(--pale-blue);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.container__card__body_left h2{
    color: var(--color-bg);
    font-size: 2rem;
}

.container__card__body_left_score{
    font-size: 4.5rem;
    color: var(--color-bg);
    font-weight: 600;
    line-height: normal;
}

.container__card__body_left_score_of{
    font-size: 1rem;
    color: var(--light-lavender);
}

.container__card__body_left_cirlce{
    border-radius: 50%;
    background: linear-gradient(var(--violet-blue-circle), var(--persian-blue-circle));
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container__card__body_left_text{
    font-size: 1rem;
    width: 85%;
}

.container__card__body_right{
    width: 50%;
    height: 100%;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: var(--light-lavender);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 2rem;
    padding: 2rem;
}

.container__card__body_right_summary{
    color: var(--dark-grey-blue);
    font-weight: 600;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}