* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: var(--color-bg);
    font-family: var(--font-family);
    letter-spacing: 1px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    font-size: var(--p-font-size);
    line-height: 1.4;
}