footer {
    font-size: 11px;
    bottom: 20px;
    position: absolute;
    padding: 0 20px;
    text-align: center;
}

footer a {
    color: var(--cobalt-blue);
}

@media screen and (max-width: 720px) {
    footer {
        position: relative;
        padding: 1rem 2rem;
    }
    
}
    